
@using Sss.Umb9.Mutobo.Enum
@using Sss.Umb9.Mutobo.Interfaces
@using Sss.Umb9.Mutobo.Modules
@model Sss.Umb9.Mutobo.PageModels.ArticlePage

<div>
    @if (!string.IsNullOrEmpty(Model.PageTitle))
    {
<h1>@Model.PageTitle.ToUpper()</h1>
    <br />}
    @if (Model.EmotionImages != null && Model.EmotionImages.Any())
    {
        if (Model.EmotionImages.Count() < 2)
        {
            var image = Model.EmotionImages.FirstOrDefault();

            if (image != null)
            {
                <a-picture defaultsource="@image.DefaultSource.Src" sources="@image.GetSourcesAsJSON()"></a-picture>
             }
                }
                else
                {

<partial name="~/Views/Partials/Slider.cshtml" model="new EmptySliderComponent()
            {
                Slides = Model.EmotionImages,
                GalleryType = EGalleryType.FullWidth,
                Width = 800,
                Height = 450,
            }" />}
            }
    @if (!Model.HideAbstract && !string.IsNullOrEmpty(Model.Abstract))
    {
<p>@Model.Abstract</p>}
    @if (!string.IsNullOrEmpty(Model.MainContent))
    {
<div>
    @Html.Raw(Model.MainContent)
</div>}
</div>

